:root{
    --primary-titel-color: #FFFFFF;
    --second-titel-color: #212121;
    --third-titel-color: #212121;
    --tecst-titel-color: #757575;
    --accent-color: #2196F3;
}


body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--second-titel-color);
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.btn{
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}

/* header */
.header-item:hover,
.header-item:focus {
    color: var(--accent-color);
}
.header-item{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.header-contact-list:hover,
.header-contact-list:focus {
    color: var(--accent-color);
}
.header-contact-list{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;

}

/* hero */
.hero{
    background-color: grey;
}
.hero-text{
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.hero-text-inf1{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.hero-text-inf2{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}



/* img-text */

.second-titel{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height:1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.third-titel{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.third-titel-work{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
/* footer */
.ofice{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address-contact{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


